@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: white;
}


section.topo{
    height: 80px;
    margin: auto;
    
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;    
}

section.topo > img{
    max-height: 100px;
    padding: 5px;
    margin: 5px;
}

section.topo > h1{
    color: #01403A;
    padding: 5px;
    margin: auto;
    
    font-size: 2em;
    text-shadow: 1px 1px 2px black;
}

div.contato{
    background-color: #01403A;
    height: 40px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

div.contato > h3 {
    color: white;
    font-weight: bolder;
    font-size: 70%;
    text-shadow: 0px 0px 5px black;
    align-self: center;
}

main{
    background-color: rgba(211, 211, 211, 0.747);
}

section.exemplo{
    margin: auto;
    
}
div.fotos{
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


div.fotos > img {
    background-color: white;
    max-width: 300px;
    margin: 10px;
    padding: 5px;

    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.61);
}
section.topico{
    text-align: center;
    margin: auto;
}

section.topico > h2.subtopico{
    color: #01403A;
    padding: 5px;
    margin: 10px;
    font-size: 2em;
    text-shadow: 0px 0px 1px black;
    
}

section.topico > h3.dados{
    padding: 5px;
    margin: 5px;
}

section.informativo{
    background-color: #01403A;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.808);
    
}

aside.chamada{
    color: white;
    padding: 5px;
    margin: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

aside.chamada > h1.pergunta{
    width: 300px;
    margin: 10px;
    
    font-size: 2em;
    
    align-self: center;
}

aside.chamada > h1.resposta{
    width: 300px;
    margin: 10px;
    
    font-size: 1em;

    align-self: center;
}

aside.cartoes{
    color: black;
    width: 80vw;
    padding: 5px;
    margin: auto;

    border-top: 1px solid lightgray;
    
    display: flex;
    flex-flow: column wrap;
}

aside.cartoes > div.cartao{
    background-color:white;
    width: 300px;
    height: 160px;
    padding: 5px;
    margin: 10px;


    border: 2px solid darkgray;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.61);

    align-self: center;

}

aside.cartoes > div.cartao > h2.tema{
    padding: 5px;
    margin: 5px;
    
    
    font-size: 1.3em;
}

aside.cartoes > div.cartao > p.texto{
    padding: 5px;
    margin: 5px;
    
    font-size: 0.8em;
}



footer {
    background-color: rgba(24, 25, 26, 0.753);
    color: white;
    
    padding: 10px;

    text-align: center;
    font-weight: bolder;

    border-top: 1px solid black;

   
}