@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: white;
}


section.topo{
    height: 80px;
    margin: auto;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;    
}

section.topo > img{
    max-height: 100px;
    padding: 5px;
    margin: 5px;
}

section.topo > h1{
    color: #01403A;
    padding: 5px;
    margin: auto;
    
    font-size: 2em;
    text-shadow: 1px 1px 2px black;
}

div.contato{
    background-color: #01403A;
    height: 40px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

div.contato > h3 {
    color: white;
    font-weight: bolder;
    font-size: 70%;
    text-shadow: 0px 0px 5px black;
    align-self: center;
}

main{
    background-color: rgba(211, 211, 211, 0.747);
}

section.corpo{
    margin: auto;
    
}
div.fotos{
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


div.fotos > img {
    background-color: white;
    max-width: 300px;
    margin: 10px;
    padding: 5px;

    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.61);
}

div.manutencao{
    
    text-align: center;
    padding: 10px;
    margin: 0px 15px;

    box-shadow: 0px -2px 0px rgba(255, 255, 255, 0.486);
    border-top: 2px solid rgba(211, 211, 211, 0.534);
}
   

h2.acao{
    margin: 5px;
    padding: 5px;
    
    text-align: center;
    font-size: 90%;
    font-weight: bolder;
    

}
h3.acao{
    margin: 5px;
    padding: 5px;
    
    text-align: center;
    font-size: 80%;
    font-weight: bolder;

}


p.texto{
    
    margin: 5px;
    padding: 5px;

    text-align: justify;
    font-size: 80%;
    
}

footer {
    background-color: rgba(24, 25, 26, 0.753);
    color: white;
    
    padding: 10px;

    text-align: center;
    font-weight: bolder;

    border-top: 1px solid black;

   
}