@charset "UTF-8";

/* Typical Device Breakpoints 
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet:768px até 992px
Desktop:992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) {
    section.topo{
        width: 80vw;
    }
    
    main{
        min-height: 98vh;
    }
    
    section.exemplo{
        width: 80vw;

    }
    
    
    div.fotos{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        
    }

    div.fotos > img{
        max-height: 200px;
    }
    
    aside.chamada{
        justify-content: space-evenly;
    }

    aside.chamada > h1.resposta{
        font-size: 1.5em;
    }


    aside.cartoes{
        height: 780px;
    }

}

@media screen and (min-width: 992px){
    section.exemplo{
        width: 900px;
    }

    section.extra{
        width: 80vw;
        margin: 30px auto;

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }


    div.entrega > div.garantia{
        padding: 10px;
    }
}

@media screen and (min-width:1200px){
    aside.chamada > h1.pergunta{
        width: 500px;
    }
    
    aside.chamada > h1.resposta{
        width: 500px;
        
    }
    
    
    aside.cartoes{
        height: 680px;
    }
    

}

@media screen and (min-width: 1600px){
    aside.chamada > h1.pergunta{
        width: 650px;
    }
    
    aside.chamada > h1.resposta{
        width: 650px;
        
    }
    
    aside.cartoes{
        height: 550px;
    }
}