@charset "UTF-8";

/* Typical Device Breakpoints 
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet:768px até 992px
Desktop:992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) {
    body{
        background-image: linear-gradient(to bottom, rgb(16, 169, 216), rgb(14, 103, 219));

    }

    section.corpo{
        width: 60vw;
        margin: auto;
    
    }

    div.manutencao{
    
    
        padding: 10px;
        margin: auto;
    
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }


    section.corpo{
        background-color: white;
        width: 90vw;
        margin-top: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
        border: 1px solid black;
        border-radius: 10px;
    }

    div.fotos > img{
        width: 300px;
    }
}